html{
    box-sizing: border-box;
}
*,
*::before,
*::after{
    box-sizing: inherit;
}


:root{
--primary-text-color: #757575;
--title-text-color:#212121;
--accent-color:#2196F3;
--primary-white-color:#ffffff;
--card-set-gap: 20px;
--card-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}


       




body{
    margin: 0px;
    color:var(--title-text-color);
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    line-height: 1.67;
}


h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul{
    padding: 0px;
    margin: 0px;
    list-style: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.heder-style{
    border: 1px solid;
    height: 80px;
    display: flex;
    border-color:  #ECECEC;
    align-items: center;
}

/*Контейнер*/

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;

  margin-left: auto;
  margin-right: auto; 
 
}

.section{
    padding: 94px 0;
}
.heder-index{
    height: 80px;
    display: flex;
}


.logo{
    font-family: "Ralewey",sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    text-decoration: none;
    letter-spacing: 0.03em;
    color: #2196F3;
    margin-right: 93px;;
    display: block;

}
 



.logo-style{
    color: var(--title-text-color);
   
}

.logo-box{
display: flex;

}

.main-nav{
    display:flex;
    align-items: center;
}

.heder-flex{
    display: flex;
}
.nav-box{
    display: flex;
    justify-content: space-between;
    align-items: center;  
}

.nav-container{
    display: flex;
}



.site-nav{
    
    display: flex;
    font-weight: 500;
    line-height:1.14;
    text-decoration: none;
    letter-spacing: 0.02em;
    color:var(--title-text-color)
    
}

.site-nav-item{
    font-weight: 500;
    line-height:1.14;
    text-decoration: none;
    letter-spacing: 0.02em;
    color:var(--title-text-color) ; 
    margin-right: 50px;
}
.site-nav-item:last-child{
    margin-right: 0px;
    padding-right: 0px;
   
} 

.site-nav .item:last-child{
    margin-right: 0px;
}




.nav-color{
    color: var(--title-text-color);
}

.nav-title{
  
   font-weight: 500;
     line-height:1.14;
   text-decoration: none;
   color: #212121;

}
.address-flex{
    display:flex;
    align-items: center;
   margin-left: auto;
} 
.nav-contact{
    margin-right: 50px;
    display: flex;
   
}
.nav-contact:last-child{
    margin-right: 0px;
}

.address-nav {
    display: flex;
    color: #757575;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;   
    align-items: center;
   
}

.nav-contact:hover svg{
    fill: var(--accent-color);
}


.address-nav-phone {
     display: flex;
    color: #757575;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;   
    align-items: center;
}

.address-logo-phone{
    fill: #757575;
    width: 10px;
    height: 16px;
    margin-right: 10px; 
}




.address-logo-title{
    fill: #757575;
    width: 16px;
    height: 12px;
    margin-right: 10px;
}

.logo-position{
    align-items: center;
}



.link:hover,
.link:focus{
    color:var(--accent-color);
    
}
.site-nav .link.current{
    font-weight: 500;
     line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--accent-color);
}  

.link:active{
    color: teal;
   
}
.link{
    text-decoration: none;
}



/*Герой*/


.hero-size{
    background: #2F303A;
    padding: 200px 0;
    text-align: center;
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4),rgba(47, 48, 58, 0.4)), url(../image/Img.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size:cover ;
    max-width: 1600px;
}

.title-head-hero{  
font-weight: 900;
font-size: 44px;
line-height: 1.36;
letter-spacing: 0.06em;
text-transform: uppercase;
color: #FFFFFF;
margin-bottom: 30px;
text-align: center;}



.title-maid{
   font-weight: 700;
   font-size:36px;
   line-height:1.16;
   text-align: center;
   letter-spacing: 0.03em;
   margin-bottom: 50px;
}

.button{
    color: white;
    background-color:var(--accent-color);
    border-color:transparent;
    cursor:pointer;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.9;
    text-align: center;
    letter-spacing: 0.06em; 
    border-radius: 4px;
}

/*Герой СВГ*/
.icon-antena::before{
    display: block;
    content: "";
    height: 120px;
    background: #F5F4FA;
    border-radius: 4px;
    margin-bottom: 30px;
    background-image:
    url(../image/antenna\ 1.svg);
    background-repeat: no-repeat;
    background-position: center;
}

.icon-clock::before{
    content: "";
    display: block;
    height: 120px;
    width: 270;
    background: #F5F4FA;
    border-radius: 4px;
    margin-bottom: 30px;
    background-image:
    url(../image/clock\ 1.svg);  
    background-repeat: no-repeat;
    background-position: center;
}

.icon-computer::before{
    content: "";
    display: block;
    height: 120px;
    width: 270;
    background: #F5F4FA;
    border-radius: 4px;
    margin-bottom: 30px;
    background-image:
    url(../image/Vector\ \(6\).svg);
    background-repeat: no-repeat;
    background-position: center;
}

.icon-cosmo::before{
    content: "";
    display: block;
    height: 120px;
    width: 270;
    background: #F5F4FA;
    border-radius: 4px;
    margin-bottom: 30px;
    background-image:
    url(../image/astronaut\ 1\ \(1\).svg);
    background-repeat: no-repeat;
    background-position: center center;




} 

.domination-flex{
    display: flex;

}
.domination-flex:first-child{
    margin-left: 0px;
    padding-left: 0px;
}

.text-head{  
    font-weight: 700;
    font-size: 14px;
    line-height:1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-bottom: 10px;


}

.domination-margin{
    margin-right: 30px;
}

.text-main{
   color:var(--primary-text-color);
   font-size: 14px;
   line-height:1.7;
   letter-spacing: 0.03em;
   width: 270px;
  
}

/*Чем мы занимаемся*/


.title-head{
    display: flex;
     
}


.img-margin{
    margin-right: 30px;
}


/* Наша команда*/

.section-team{
    background: #F5F4FA;

}


.title-team{
  
   font-size:36px;
   line-height:1.16 ;
   text-align: center;
   letter-spacing: 0.03em;
   margin-bottom: 50px;
}
   
.team-design{
  box-shadow: var(--card-shadow);
  border-radius: 4px;
  overflow: hidden;
  background-color: #ffffff;
  padding: 30px 0;
  text-align: center;
}
.team-order{
  display: flex;

  
}

.team-margin{
    margin-right: 30px;
}

.team-person{
    font-weight: 500;
    font-size:16px;
    line-height:1.18;
    letter-spacing: 0.03em;
}
   



.person-job{
   color: var(--primary-text-color);
   font-size: 16px;
   line-height: 1.18;  
   letter-spacing: 0.03em;
   margin-top: 10px;
   margin-bottom: 16px;
 
  
}

.logo-team{
display: flex;
justify-content: center;
}

.instsgram{
    display: flex;
    fill:#AFB1B8 ; 
}
.twitter{
  display: flex;
    fill:#AFB1B8 ;   
}
.facebook{
    display: flex;
    fill:#AFB1B8 ;  
}
.linkedin{
    display: flex;
    fill:#AFB1B8 ;   
}
.logo-instsgram:hover svg{
    fill: #FFFFFF;
}


.logo-instsgram{

    display:flex;
   justify-content: center;
   align-items: center;
width: 44px;
height: 44px;
border-radius: 50%;
margin-right: 10px;
 
}
.logo-instsgram:hover{
    background-color: var(--accent-color);
}
.instagram-ico{
    width: 20px;
    height: 20px;
}

.logo-tvitter{
width: 44px;
height: 44px;
margin-right: 10px;
border-radius: 50%;
  display:flex;
   justify-content: center;
   align-items: center;

}
.tvitter-ico{
    width: 20px;
    height: 20px;
}
.logo-tvitter:hover{
      background-color: var(--accent-color);
}
.logo-tvitter:hover svg{
    fill: #FFFFFF;
}

.logo-facebook{
width: 44px;
height: 44px;
border-radius: 50%;
  display:flex;
   justify-content: center;
   align-items: center;
margin-right: 10px;
}
.facebook-ico{
 width: 20px;
    height: 20px;
}

.logo-facebook:hover{
      background-color: var(--accent-color);
}
.logo-facebook:hover svg{
    fill: #FFFFFF;
}


.logo-linkedin{
width: 44px;
height: 44px;
border-radius: 50%;
  display:flex;
   justify-content: center;
   align-items: center;
margin-right: 10px;


}
.linkedin-ico{
 width: 20px;
    height: 20px;
}

.logo-linkedin:hover{
      background-color: var(--accent-color);
}
.logo-linkedin:hover svg{
    fill: #FFFFFF;
}



/* Портфолио кнопки*/

.button-type{
    color:var(--title-text-color);
    border-color: transparent;
    cursor: pointer;
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 0.03em;
  border-radius: 4px;
}

.button-type:hover{
    background-color: var(--accent-color);
    color: white;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}


.portfolio-button{
    display: flex;
    justify-content: center;
     margin-bottom: 50px;
       
}

 .button-margin{
  margin-right: 8px;
 }
 
 
 /*Наши партнеры*/

.client-position{
    display: flex;
 justify-content: center;
}

.client-position:hover{
color: var(--accent-color);
cursor: pointer;
}





.client-logo-style{
    display: flex;
    
    width: 170px;
    height: 92px;
  
    fill:  #AFB1B8;
    margin-right: 30px;
    border: 1px solid #AFB1B8;
    border-radius: 4px;
}
.client-logo-style:hover{
    fill: var(--accent-color);
    border-color: var(--accent-color);
}







.footer{
 background: #2F303A;
 padding: 60px 0;
;
}
.logo-footer{
    font-family: "Ralewey",sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    text-decoration: none;
    letter-spacing: 0.03em;
    color: #2196F3;
    margin-right: 93px;;
    display: block;
    margin-bottom: 20px;

}
.contact-join{
    font-weight: bold;
font-size: 14px;
line-height: 16px;
letter-spacing: 0.03em;
text-transform: uppercase;
margin-bottom: 20px;
margin-top: 12px;
color: #FFFFFF;
}

.logo-footer-span{
color: white;

}

.footer-box{
    display: flex;
}

.logo-team-footer{
display: flex;
justify-content: center;
}

.instsgram-footer{
    display: flex;
    fill:#FFFFFF ; 
}
.twitter-footer{
  display: flex;
    fill:#FFFFFF ;   
}
.facebook-footer{
    display: flex;
    fill:#FFFFFF ;  
}
.linkedin-footer{
    display: flex;
    fill:#FFFFFF ;   
}
.logo-instsgram-footer:hover svg{
    fill: #FFFFFF;
}


.logo-instsgram-footer{

    display:flex;
   justify-content: center;
   align-items: center;
width: 44px;
height: 44px;
border-radius: 50%;
margin-right: 10px;
background: rgba(255, 255, 255, 0.1);
cursor: pointer;
 
}

.instagram-ico-footer{
    width: 20px;
    height: 20px;
}

.logo-tvitter-footer{
width: 44px;
height: 44px;
margin-right: 10px;
border-radius: 50%;
  display:flex;
   justify-content: center;
   align-items: center;
background: var(--accent-color);
cursor: pointer;
}
.tvitter-ico-footer{
    width: 20px;
    height: 20px;
}



.logo-facebook-footer{
width: 44px;
height: 44px;
border-radius: 50%;
  display:flex;
   justify-content: center;
   align-items: center;
margin-right: 10px;
background: rgba(255, 255, 255, 0.1);
cursor: pointer;
}
.facebook-ico-footer{
 width: 20px;
    height: 20px;
}





.logo-linkedin-footer{
width: 44px;
height: 44px;
border-radius: 50%;
  display:flex;
   justify-content: center;
   align-items: center;
margin-right: 10px;
background: rgba(255, 255, 255, 0.1);
cursor: pointer;
}
.linkedin-ico-footer{
 width: 20px;
    height: 20px;
}







.list{
    list-style: none;
    text-decoration: none;
    font-style: normal;
   
}


.address{
    font-style: normal;
    font-weight: normal;
   
    line-height: 1.7;
    /* or 171% */
    letter-spacing: 0.03em;
    color: #FFFFFF;
   
}

.a-address{
    font-style: normal;
    font-weight: normal;
   
    line-height: 1.7;
    /* or 171% */
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
  
}

.footer-address-margin{
    margin-bottom: 9px;
}
.contact-title{
    margin-right: 70px;
}

.invisible{
 visibility: hidden;
}



.portfolio-button:last-child{
    margin-right: 0px;
}

.profil-flex{
  display: flex;
  flex-wrap: wrap;
  
}

.portfolio-design:nth-last-child(-n+3){
    margin-bottom: 0px;
}



.portfolio-design{
 
  
  border-radius: 4px;
  
  background-color: #ffffff;
  margin-right: 30px;
  margin-bottom: 30px;

}
.portfolio-design:nth-child(3n){
    margin-right: 0px;
    
}
.portfolio-design:hover,
.portfolio-design:focus{
box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);

}
.portfolio-image-text{
   background: #FFFFFF;
   border-style: solid;
  border-top: 0px;
   border-color:#EEEEEE ;
   padding-top: 20px;
   padding-right: 20px;
   padding-bottom: 20px;
   padding-left: 24px;

}

.image-title{
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    
}



.image-text{
    font-weight: 400;
    font-size: 16px;
    line-height: 1.9;
    letter-spacing: 0.03em;
     margin-top: 4px;
     color: var(--primary-text-color);
   
}

.heder-prof{
    display:flex;
    align-items: center; 
   

left: 0px;
top: 80px;

border: 1px solid #ECECEC;
margin-bottom: 100px;
}

.nav-flex{
    display: flex;
}